.FaqsPages {
    background-color: var(--bg-color);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.FaqsWelcome {
    margin: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1vh));
    gap: 10rem;
    align-items: center;
    align-content: center;
    place-content: center;
}
